

body{
  font-family: var(--font-secondary);
  //@include font-primary;
  letter-spacing:0px;
  color:var(--primary-text-color);
  font-size:var(--font-size);
  @include medium();
  @include sm-max{
  font-size:var(--font-size-sm);
  }
}
.bg-white{
  background:var(--white);
}
.bg-theme{
  background:var(--primary-color) !important;
}
.bg-theme-light,footer{
  background:#ecf8ff;
}
a:hover{
  transition:.4s;
}
ul{
  margin-bottom:0;
}
h1,h2,h3,h4,h5{
  //font-family:var(--font-primary);
}
.btn{
//font-family:var(--font-seconsary);
@include medium;
    padding: 11px 33px;
    border-radius: 50px;
    font-size: 15px;
    display:inline-flex;
    align-items:center;
    @include sm-max{
        padding: 9px 15px;
            font-size: 12px;
    }
&.btn-theme{
background:var(--secondary-color);
color:var(--primary-color);
&:hover{
  background:darken($secondary-color, 4%);
}
}
&.btn-theme-secondary{
  background:var(--primary-color);
color:var(--white-color);
@include regular;
}
}

.color-theme{
  color:var(--primary-color)
}
.color-theme-secondary{
  color:var(--secondary-color)
}
.section-padding{
  padding:8rem 0;
  @include sm-max{
  padding:3rem 0;
  }
}
p{
  margin-bottom:10px;
}
.title-sm{
  font-size:42px;
  @include sm-max{
  font-size:28px;
  }
}

.text-dark{
  color:var(--dark-color) !important
}
.bg-secondary{
  background:var(--secondary-color) !important;
}
.section-content {
    background: #ecf8ff;
}
.btn-blog{
  font-size:1rem;
@include sm-max{
  font-size:14px;
}

}
.pageload-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
}

@media (min-width: 1400px){
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1340px;
}
}